@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

:root{
    --fonte01: Raleway;
}

::-webkit-scrollbar {
  display: none;
}

html {
      scroll-behavior: smooth;   
      scroll-padding-top: 150px;  
    }

header{
    animation: fade 1s ease;
}

body{
    animation: fadeIn 1.3s ease-in-out forwards;
}

header{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.938);
    margin: -10px;
    margin-top: -20px;
    display: flex;
    font-family: var(--fonte01);
    position: fixed;
    z-index: 1000;
    top: -10;
    left: 0;
    right: 0;
}

#fh2{
    font-size: 30px;
    color: azure;
    padding: 10px;
    margin-top: 34px;
    margin-left: 30px;
    margin-bottom: 24px;
    border-radius: 25px;
    transition: background 0.8s;
}

#fh2:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

#pesquisar{
    font-size: 23px;
    padding: 27px;
    width: 40%;
    min-width: 200px;
    max-width: 600px;
    height: 45px;
    border-radius: 50px;
    margin-top: 35px;
    margin-left: 65px;
    margin-right: 50px;
    background-image: url(imagens/lupa.png);
    background-position: center right;
    background-position-x: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    transition: background 0.8s;
    cursor: pointer;
    font-family: var(--fonte01);
    font-weight: 900;
    border: 0px;
    transition: 0.8s;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

#pesquisar:focus{
    padding: 27px;
    background-color: white;
    color: black;
    background-position-x: 550px;
    font-size: 19px;
}
input:focus::placeholder {
    transition: 0.8s;
    color: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.botao-ancora{
    font-size: 18px;
    padding: 15px 25px;
    margin-top: 36px;
    margin-bottom: 25px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background 1s;
    outline: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
    transition: transform .6s ease;
}
.botao-ancora:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: underline;
    transform: scale(1.2);
}

.botao-ancora:active{
    transform: translateY(-1px);    
    box-shadow: 0 6px 12px rgba(37, 99, 235, 0.2);
}

#logar{
    background-color: white;
    color: black;
    border-radius: 60px;
    margin-left: 200px;
    width: 75px;
    margin-top: 33px;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#div01{
    font-family: var(--fonte01);
    margin-top: 170px;
    margin-left: 30px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

#Informações{
    font-size: 40px;
    margin-bottom: 15px;
}

#Fp{
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    width: 950px;
    margin-top: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

#valeri{
   width: 50%;
   max-width: 700px;
   height: auto;
   float: right;
   margin-right: 5%;
   margin-top: -400px;
   border-radius: 30px;
   box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.541);
   outline-width: 3px;
   outline-color: black;
   outline-style: solid;
   transition: transform .6s ease;
}   

#valeri:hover{
    transform: scale(1.1);
}

.estatisticas{
   display: flex;
  gap: 50px;
  font-family: var(--fonte01);
  display: flex;
  gap: 50px;
  margin-left: 45px; 
  margin-top: -55px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

.estatisticas div{
  text-align: left;
}

.info{
    font-weight: 400;
    font-size: 28px;
    margin-right: 20px;
    margin-left: -15px;
    margin-top: -60px;
}

.fh3{
    font-size: 60px;
    font-weight: 900;
    margin-left: 20px;
    transition: transform .6s ease;
}

.fh3:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#Fh01{
    margin-left: 45px;
}

#Fh02{
    margin-left: 60px;
}

#explore{
    font-family: var(--fonte01);
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 20px 30px;
    margin-left: 300px;
    margin-top: 10px;
    display: inline-block;
    transition: transform .6s ease;
}

#explore:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#produto{
    font-family: var(--fonte01);
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
    text-decoration: underline;
}

.roupas{
    outline: 1px black solid;
    width: 20%;
    padding: 70px;
    margin: 50px;
    height: 500px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    transition: transform .6s ease;
    background-image: url(imagens/Simple\ vector\ stick\ man\ stickman\ stand\ isolated\ on\ white\ _\ Premium\ Vector.webp);
}

.roupas:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.desisto{
    font-family: var(--fonte01);
    font-weight: bolder;
    position: relative;
    width: 40%;
}

@media (max-width: 900px){

#pesquisar{
    width: 90%;
    margin-left: 0;
}

#valeri{
    float: none;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 40px;
}

#Fp{
    width: 90%;
}

.estatisticas{
    flex-direction: column;
}

#explore{
    margin-left: 30px;
}

.roupas{
    width: 90%;
    margin: 20px auto;
    display: block;
    
}

}
